.bl-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 50px;
}

.bl-card {
    width: 400px;
    margin: 10px;
    background-color: #5900ff;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    cursor: default;
    height: 350px;
}

.bl-card:hover {
    background-color: #1a0346;
}

.bl-card h1 {
    font-size: 30px;
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
    margin-left: 5px;
    
}

.bl-card p {
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    margin-left: 5px;
}

.bl-container {
    text-align: center; /* Centraliza o conteúdo */
  }
  
  .bl-header {
    margin-bottom: 20px; /* Espaçamento abaixo do cabeçalho */
  }
  
  .bl-header h1 {
    font-weight: bold;
    margin-top: 100px;
    font-size: 55px;
    color:#2d0081;
    
  }
  

  @media only screen and (min-width: 1360px) {
    .bl-card-container {
        padding: 0 20px; /* Ajusta o padding */
        margin-top: 100px; /* Ajusta a margem superior */
    }

    .bl-card {
        width: 350px; /* Ajusta a largura do card */
        height: 400px; /* Ajusta a altura do card */
    }

    .bl-card h1 {
        font-size: 35px; /* Ajusta o tamanho da fonte do título */
        margin-left: 0; /* Remove a margem esquerda */
    }

    .bl-card p {
        font-size: 22px; /* Ajusta o tamanho da fonte do parágrafo */
        margin-left: 0; /* Remove a margem esquerda */
    }

    .bl-header h1 {
        margin-top: 50px; /* Ajusta a margem superior do cabeçalho */
        font-size: 60px; /* Ajusta o tamanho da fonte do cabeçalho */
    }
}


@media only screen and (min-width: 1600px) {
    .bl-card-container {
        padding: 0 50px; /* Ajusta o padding */
    }

    .bl-card {
        width: 450px; /* Ajusta a largura do card */
        height: 450px; /* Ajusta a altura do card */
    }

    .bl-card h1 {
        font-size: 40px; /* Ajusta o tamanho da fonte do título */
    }

    .bl-card p {
        font-size: 24px; /* Ajusta o tamanho da fonte do parágrafo */
    }

    .bl-header h1 {
        margin-top: 70px; /* Ajusta a margem superior do cabeçalho */
        font-size: 65px; /* Ajusta o tamanho da fonte do cabeçalho */
    }
}