.slogan-container {
    margin-left: 15%; /* Posiciona o container do slogan a 25% da borda esquerda */
    margin-top: 5%;
    
  }
  
  #slogan-title {
    width: 55%; /* Reduz a largura do título para 80% do seu contêiner */
    text-align: left; /* Alinha o texto do título à esquerda */
    font-size: 75px; /* Aumenta o tamanho da letra para 75 pixels */
    font-weight: bold; 
  }
  
  #slogan-subtitle {
    /* Estilos para o subtitulo, se necessário */
    font-size: 24px; /* Aumenta o tamanho da letra para 24 pixels */
    display: block; /* Faz o subtitulo se comportar como bloco */
    margin-top: 50px; /* Adiciona um espaçamento superior entre o título e o subtitulo */
    color: #383737;
    margin-left: -58%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  #btnQueroDireitos {
    margin-left: -85%;
    background-color: #F5B35D;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    font-size: 20px;
    font-weight: bold;
    
  }
  
  #btnQueroDireitos:hover {
    background-color: #6a0dad; /* Altere a cor quando hover, se desejar */
  }
  

  .slogan-container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
  }
   
  .video-container {
    position: relative;
    width: 100%;
    
    /* Remova a altura fixa para permitir que o container se ajuste ao conteúdo */
  }
  
  .video {
    position: absolute;
    top: -600px; /* Posiciona o vídeo no meio vertical do container */
    left: 60%; /* Posiciona o vídeo no meio horizontal do container */
    width: 650px;
    height: 600px; /* Altura definida como 1000 pixels */
    max-width: 500px;
    object-fit: cover;
    cursor: auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    object-position: 50% 50%;
  }
  
  .fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Defina um z-index menor para ficar atrás de outros elementos, se necessário */
}
