@media (min-width: 720px) {
    .fundo {
        background-image: url('../../Fotos/Fundo.png'); /* Caminho correto para a imagem */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        height: 50px;
        position: relative;
        top: 100px;
    }
}

.fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Defina um z-index menor para ficar atrás de outros elementos, se necessário */
}