.navFaq {
    
  
}

.navFaq #logoNav {
    height: 150px; /* Ajusta a altura da logo */
    width: auto;
    position: relative;
    left: 200px;
    top: -40px;
    
}

.Faq-conteiner{
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    justify-content: space-between; /* Espaça os itens igualmente */
    padding: 10px; /* Espaçamento interno */
    background-color: #6e53ce; /* Cor de fundo da navbar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    height: 350px;
}

.titulo-containerr {
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
    top: 30px;
    left: 65px;
}

.titulo-containerr p {
    margin: 0;
    font-size: 24px;
    color: rgb(236, 231, 240);
    font-weight: lighter;
}

.pesquisa-containerr {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -130px;
}

.pesquisa-containerr input {
    width: 700px;
    height: 65px; /* Largura da caixa de pesquisa */
    padding: 7px; /* Espaçamento interno da caixa */
    border: 1px solid aliceblue; /* Borda da caixa */
    border-radius: 45px; /* Bordas arredondadas */
    background-color: aliceblue;
}

.custom-navbar-nav {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    display: flex; /* Exibe os itens lado a lado */
    justify-content: center;
    align-items: center; /* Alinha verticalmente os itens */
    background-color: transparent !important; /* Mantém a cor de fundo transparente */
    position: absolute;
    left: 40%;
    top: 50px;
   
}

.custom-nav-item {
    margin-right: 25px; /* Espaçamento entre os itens */
}

.custom-nav-link {
    color: #bacaff; /* Define a cor do texto como branco */
    background-color: transparent !important; /* Remove a cor de fundo */
    border: none !important; /* Remove a borda do botão */
    padding: 0; /* Remove o preenchimento interno do botão */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Fonte em negrito */
    text-decoration: none; /* Remove o sublinhado dos links */
    
}

.custom-nav-link:hover {
    color: #330099 !important; /* Define a cor ao passar o mouse */
    font-weight: bold; /* Mantém o peso da fonte ao passar o mouse */
}

.highlight {
    color: rgb(255, 208, 0); /* Define a cor amarela */
}
