/*Isso aqui impede problemas*/
html, body {
  width: 100%;
  overflow-x: hidden;
}
/*SOCORRO ACABOU*/

/*TUDO ISSO AQUI SÃO COISAS RELACIONADAS À NAVBAR, MANTER ORGANIZADO*/
.Logo {
    width: 7%;
    height: 6%;
    margin-left: 14%; /* Valor negativo para mover a logo para a esquerda */
}

.bg-custom {
    background-color: #6900f1; /* Cor de fundo personalizada para a barra de navegação */
    height: 120px;
}
.btn-custom {
    background-color: #F5B35D !important; /* Cor de fundo lilás claro */
    color: white!important; /* Cor das letras brancas */
    border: none !important; /* Remove a borda padrão do botão */
    margin-left: 15%;
    width: 15% !important;
    height: 10% !important;
    padding: 20px 20px !important; 
    
}

.btn-custom:hover {
    background-color: #330099 !important; /* Cor de fundo mais escura quando o mouse passa por cima */
    color: #bacaff !important; /* Mantém a cor das letras brancas */
    margin-left: 15%;
    width: 15% !important;
    height: 10% !important;
}

.navbar-nav .nav-link {
    color: #bacaff !important; /* Define a cor do texto para branco e usa !important para prioridade */
    background-color: transparent !important; /* Remove a cor de fundo e a borda do botão */
    border: none !important; /* Remove a borda do botão */
    padding: 0; /* Remove o preenchimento interno do botão */
    font-size: 15px; /* Define o tamanho da fonte */
    margin-right: 25px;
    font-weight: bold;
    font-size: 20px;
}
.navbar-nav .nav-link:hover {
  color: #330099 !important; /* Define a cor do texto do botão ao passar o mouse */
  font-weight: bold;

}
/* Cabou a Navbar */


/*ESSE ESPAÇO AQUI É PRA MEXER NO CSS DA INFORMAÇÃO CARALHO*/



/* Define o estilo para o contêiner principal */
.container-fluid.my-5 .p-5 {
    background-color: #7419ec !important; 
    width: 100%; /* Largura total */
    padding: 2rem; /* Preenchimento interno */
    margin: 0 !important; /* Margem zero */
    margin-top: auto !important;
    
}


.container-fluid.my-5 .p-5 {
    width: 100%; /* Largura total */
    padding: 2rem; /* Preenchimento interno */
    margin: 0; /* Margem zero */
}

/* Estilo para o título e texto */
h1.text-body-emphasis, p.fs-5 {
    color: #fff !important; /* Cor branca */
    font-size: 1.5rem; /* Tamanho da fonte padrão */
}

/* Estilo específico para o título */
h1.text-body-emphasis {
    margin-top: 1%; /* Espaçamento superior */
    font-size: 3rem; /* Tamanho da fonte do título */
}

/* Estilo para a logo */
.logo-bottom {
    display: block;
    max-width: 7%; /* Largura máxima da logo */
    width: 100%; /* Largura total */
    margin: 20px auto 0; /* Margens */
    margin-top: -8%; /* Margem superior negativa para ajuste de posição */
}

/* Estilo para o div dos botões */
.d-inline-flex.mb-5 {
    margin-top: 15px; /* Margem superior */
}

/* Estilo específico para o texto */
p.fs-5 {
    font-size: 1.5rem !important; /* Tamanho da fonte do texto */
}


.styled-svg {
    color: var(--bs-indigo);
}
.btn-primary {
  background-color: #F5B35D !important;
  color: #6900f1 !important;
  border: none !important;
}

.btn-primary:hover{
  background-color: #4600a1 !important;
  color: #F5B35D !important;
  border: none !important;
}

.btn-outline-secondary {
  background-color: #4600a1 !important;
  color: #F5B35D !important;
  border: none !important;
}
.btn-outline-secondary:hover {
  background-color: #F5B35D !important;
  color: #6900f1 !important;
}


/*ACABOU A INFORMAÇÃO*/

/*O card ali*/

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.card {
    animation: slideUp 0.5s ease-out forwards;
    margin-top: 5% !important;
    background: linear-gradient(to top left, #7419ec, rgb(158, 110, 255));
    width: 75%; /* Reduz o tamanho do card pela metade */
    height: 500px !important; /* Define uma altura fixa para o card */
    margin: 0 auto; /* Centraliza o card na tela */
    border: none !important;
    box-shadow: 2px 10px 6px rgba(105, 105, 105, 0.5);
}


.card-title {
    animation: pulse 2s infinite;
    color: #330099 !important;
    font-size: 60px !important;
    font-weight: bold !important;
    width: 60%;
    text-align: left;
    padding: 3%;
}



.card-text{
    padding: 3%;
    font-size: 20px;
    width: 55%;
    text-align: left;
    margin-top: -50px !important;
    font-weight:600 !important;
    
}

.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: 850px; /* Empurra o container para a direita */
    margin-right: 150px; /* Define a margem direita como 0 */
    border: none; /* Roxo Escuro para a borda */
    border-radius: 15px;
    padding: 10px;
    margin-top: -370px;
    height: 370px;
}


.message {
    max-width: 80%;
    margin-bottom: 12px;
    padding: 8px 10px;
    border-radius: 7.5px;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    box-shadow: 2px 10px 6px rgba(34, 2, 6, 0.153);
}

.message:hover {
    background-color: #1f1442; /* Um roxo ligeiramente diferente para o hover */
    transition: background-color 0.3s;
    /* Restante do seu CSS */
}

.user-message:hover {
    background-color: #775310; /* Um roxo ligeiramente diferente para o hover */
    transition: background-color 0.3s;
}

.user-message {
    align-self: flex-end;
    background-color: #F5B35D; /* Lilás Claro para mensagens do usuário */
    border-bottom-right-radius: 0;
    color: #ffffff; /* Roxo Escuro para o texto do usuário */
}

.consuweb-message {
    align-self: flex-start;
    background-color: #6900f1; /* Branco para mensagens do ConsuWeb */
    border-bottom-left-radius: 0;
    color:  #ffffff /* Cinza Escuro para o texto do ConsuWeb */
}

.message-text {
    margin: 0;
}



/*Fim do card ali*/

.Curioso{
    margin-top: 10%;
    margin-left: 30%;
}

/* "Mostra 2" */

/* Frente */

.slogan-container {
    margin-left: 15%; /* Posiciona o container do slogan a 25% da borda esquerda */
    margin-top: 5%;
    
  }
  
  #slogan-title {
    width: 55%; /* Reduz a largura do título para 80% do seu contêiner */
    text-align: left; /* Alinha o texto do título à esquerda */
    font-size: 75px; /* Aumenta o tamanho da letra para 75 pixels */
    font-weight: bold; 
  }
  
  #slogan-subtitle {
    /* Estilos para o subtitulo, se necessário */
    font-size: 24px; /* Aumenta o tamanho da letra para 24 pixels */
    display: block; /* Faz o subtitulo se comportar como bloco */
    margin-top: 50px; /* Adiciona um espaçamento superior entre o título e o subtitulo */
    color: #383737;
    margin-left: -58%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  #btnQueroDireitos {
    margin-left: -85%;
    background-color: #F5B35D;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    font-size: 20px;
    font-weight: bold;
    
  }
  
  #btnQueroDireitos:hover {
    background-color: #6a0dad; /* Altere a cor quando hover, se desejar */
  }
  

  .slogan-container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
  }
   
  .video-container {
    position: relative;
    width: 100%;
    
    /* Remova a altura fixa para permitir que o container se ajuste ao conteúdo */
  }
  
  .video {
    position: absolute;
    top: -600px; /* Posiciona o vídeo no meio vertical do container */
    left: 60%; /* Posiciona o vídeo no meio horizontal do container */
    width: 650px;
    height: 600px; /* Altura definida como 1000 pixels */
    max-width: 500px;
    object-fit: cover;
    cursor: auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    object-position: 50% 50%;
  }
  
  .fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Defina um z-index menor para ficar atrás de outros elementos, se necessário */
}

  
  

/* Frente */

/*O foo e o ter (Footer)*/

.container {
    position: absolute;
    left: 0; /* Adicionado para garantir que comece da esquerda */
    right: 0; /* Adicionado para estender até a borda direita */
    width: 100%;
    background-color: #7419ec; /* Cor de fundo do rodapé */
    color: white !important;
}

/* Cabou-se o Footer*/


/*animações*/

.imagem-mulher {
    width: auto; /* ou um valor específico em pixels */
    height: 600px; /* mantém a proporção da imagem */
    margin-right: 900px;
    margin-top: 100px;
    border-radius: 20px;
}


  