/* Estilos padrão para dispositivos com largura de tela maior que 1920px (Full HD) */

/* Estilos para dispositivos com largura de tela até 1920px (Full HD) */
@media (max-width: 1920px) {
    

}

/* Estilos para dispositivos com largura de tela até 1366px (HD) */
@media (max-width: 1366px) {

    .Logo {
        width: 7%;
        height: 6%;
        margin-left: 8%; /* Valor negativo para mover a logo para a esquerda */
    }

    .bg-custom {
        background-color: #6900f1; /* Cor de fundo personalizada para a barra de navegação */
        height: 90px;
    }
    
    .btn-custom {
        background-color: #F5B35D !important; /* Cor de fundo lilás claro */
        color: #6900f1!important; /* Cor das letras brancas */
        border: none !important; /* Remove a borda padrão do botão */
        margin-left: 15%;
        width: 20% !important;
        height: 10% !important;
        padding: 10px !important;
        
        
    }

    .btn-custom:hover {
        background-color: #330099 !important; /* Cor de fundo mais escura quando o mouse passa por cima */
        color: #bacaff !important; /* Mantém a cor das letras brancas */
        margin-left: 15%;
        width: 20% !important;
        height: 10% !important;
    }


    
/* Frente */

.slogan-container {
    margin-left: 10%; /* Posiciona o container do slogan a 25% da borda esquerda */
    margin-top: 5%;
    
  }
  
  #slogan-title {
    width: 55%; /* Reduz a largura do título para 80% do seu contêiner */
    text-align: left; /* Alinha o texto do título à esquerda */
    font-size: 50px; /* Aumenta o tamanho da letra para 75 pixels */
    font-weight: bold; 
  }
  
  #slogan-subtitle {
    /* Estilos para o subtitulo, se necessário */
    font-size: 17px; /* Aumenta o tamanho da letra para 24 pixels */
    display: block; /* Faz o subtitulo se comportar como bloco */
    margin-top: 50px; /* Adiciona um espaçamento superior entre o título e o subtitulo */
    color: #383737;
    margin-left: -60%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  #btnQueroDireitos {
    margin-left: -85.5%;
    background-color: #F5B35D;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    font-size: 15px;
    font-weight: bold;

    
  }
  
  #btnQueroDireitos:hover {
    background-color: #6a0dad; /* Altere a cor quando hover, se desejar */
    
  }
  

  .slogan-container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
  }
   
  .video-container {
    position: relative;
    width: 100%;
    
    /* Remova a altura fixa para permitir que o container se ajuste ao conteúdo */
  }
  
  .video {
    position: absolute;
    top: -450px; /* Posiciona o vídeo no meio vertical do container */
    left: 60%; /* Posiciona o vídeo no meio horizontal do container */
    width: 300px;
    height: 450px; /* Altura definida como 1000 pixels */
    max-width: 500px;
    object-fit: cover;
    cursor: auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    object-position: 50% 50%;
    margin-left: 7.5%;
  }
  
  .fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Defina um z-index menor para ficar atrás de outros elementos, se necessário */
}

  
  

/* Frente */
    


/*O card ali*/

.card {
    /* Substitui a imagem de fundo por um gradiente */
    margin-top: 10% !important;
    background: linear-gradient(to top left, #7419ec, rgb(158, 110, 255));
    width: 75%; /* Reduz o tamanho do card pela metade */
    height: 500px !important; /* Define uma altura fixa para o card */
    margin: 0 auto; /* Centraliza o card na tela */
    border: none !important;
}

.card-title, 
.card-text{
    padding: 3%;
}


/*Fim do card ali*/
}

/* Estilos para dispositivos com largura de tela até 1280px (Notebook) */
@media (max-width: 1280px) {
    .fundo {
        background-color: #447799; /* Cor de fundo para resolução de Notebook */
        /* Outros estilos... */
    }
}

/* Estilos para dispositivos com largura de tela até 1024px (Desktops menores) */
@media (max-width: 1024px) {
    .fundo {
        background-color: #336688; /* Cor de fundo para Desktops menores */
        /* Outros estilos... */
    }
}
